:root{
    --text-color: hsl(220, 13%, 13%);
    --text-color-light: hsl(219, 9%, 45%);
    --lightbox-bg: hsl(0, 0%, 0%);
    --bg-color: hsl(0, 0%, 100%);
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(26, 100%, 94%);
    --grayish-blue: hsl(220, 14%, 75%);
    --grayish-light-blue: hsl(223, 64%, 98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    color: var(--text-color-light);
}

.attribution { font-size: 11px; text-align: center; padding: 20px;}
.attribution a { color: hsl(228, 45%, 44%);}

img{
    max-width: 100%;
    height: auto;
}

.fcol{
    display: flex;
    flex-direction: column;
}

.frow{
    display: flex;
    flex-direction: row;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

a, li{
    text-decoration: none;
    list-style: none;
}

svg{
    cursor: pointer;
}

span{
    display: inline-block;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../images/next.png) right 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
}


.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../images/prev.png) left 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
}

header{
    position: fixed;
    height: 60px;
    top: 0; left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1244px;
    background-color: var(--bg-color);
    justify-content: space-between;
    padding: 0 20px;
    z-index: 9;
}

.logo svg:nth-child(1){
    margin: 5px 15px 0 0;
}

h1 a{
    color: var(--text-color);
}

main{
    width: 100%;
    max-width: 1240px;
}

@media screen and (max-width: 800px) {
    nav{
        display: flex;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%; top: 0;
        background-color: rgba(0,0,0,0.75);
    }
    
    nav.active{
        left: 0;
    }
    
    nav ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: var(--bg-color);
        width: 65%;
        padding-top: 5rem;
        padding-left: 20px;
    }
    
    .nav_link{
        line-height: 40px;
        font-weight: 700;
        color: var(--text-color);
    }
    
    .nav_close{
        position: absolute;
        left: 20px;
        top: 20px;
    }
}

.avatar img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    transition: .6s;
    border-radius: 50%;
    cursor: pointer;
}

.avatar img:hover{
    border: 2px solid var(--orange);
}

/* ============================ CART SECTION ================================= */
.cart_container{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 70px; right: 10px;
    width: 370px;
    height: 300px;
    z-index: 10;
    border-radius: 8px;
    background-color: var(--bg-color);
    box-shadow: 0px 12px 27px -10px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 12px 27px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 12px 27px -10px rgba(0,0,0,0.75);
}

.cart_container.show_cart{
    visibility: visible;
    opacity: 1;
}

.cart_title{
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.cart_container .container{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: var(--text-color-light);
}

.cart.active:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 15px 0 15px;
    border-color: var(--bg-color) transparent transparent transparent;
    position: absolute;
    bottom: -10px;
    transform: rotate(180deg);
    z-index: 20;
}

/* ============================ GALLERY SECTION ================================= */
.carousel{
    position: relative;
}

.prev,
.next{
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: var(--bg-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 20px;
}

.next{
    right: 0;
}

.thumbnail{
    display: none;
}


/* ========================== PRODUCT DESCRIPTION AND PRICE =========================== */
.product{
    padding: 20px;
}

.title{
    color: var(--orange);
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subtitle{
    font-size: 28px;
    font-weight: 700;
    color: var(--text-color);
    margin: 10px 0;
}

.product_descritpion{
    margin-top: 10px;
}

.price_section{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1{
    align-items: center;
}

.current_price{
    color: var(--text-color);
    font-size: 28px;
    font-weight: 700;
    margin-right: 15px;
}

.discount{
    padding: 2px 7px;
    background-color: var(--pale-orange);
    color: var(--orange);
    font-size: .9rem;
    font-weight: 700;
    border-radius: 4px;
}

.previous_price{
    color: var(--grayish-blue);
    font-weight: 600;
}

.product_quantity{
    width: 100%;
    background-color: var(--grayish-light-blue);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 2rem 0;
    border-radius: 10px;
}

.product_quantity span:not(:nth-child(2)){
    padding: 10px 15px;
}

.product_quantity span:nth-child(2){
    font-weight: 700;
}

.add_btn{
    width: 100%;
    padding: 15px;
    background-color: var(--orange);
    color: var(--bg-color);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: -1px 2px 30px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 30px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 30px -12px rgba(0,0,0,0.75);
    transition: .6s;
}

.plus:hover,
.minus:hover,
.btn:hover{
    opacity: .6;
}

.btn svg{
    margin-right: 10px;
    transform: scale(0.8);
}


/* ========================================================================================================================================================================
    ---------------------------------------------------------------------------- MEDIA QUERY ---------------------------------------------------------------------
============================================================================================================================================================================ */
@media screen and (min-width: 800px) {
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
    }

    header{
        align-items: center;
        height: 70px;
        border-bottom: 1px solid rgba(0,0,0,0.15);
    }

    .logo svg:first-child{
        display: none;
    }

    nav{
        position: relative;
        display: flex;
        height: 60px;
        font-size: 1rem;
        margin-left: 4rem;
        margin-top: 3px;
        align-items: center;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        height: 60px;
    }

    .nav_close{
        display: none;
    }

    .nav_link{
        border-bottom: 5px solid transparent;
        transition: .4s;
        cursor: pointer;
        padding-top: 16px;
    }

    .nav_link:not(:first-of-type){
        margin-left: 30px;
    }

    .nav_link:hover{
        border-bottom-color: var(--orange);
        font-weight: 700;
        color: var(--text-color);
    }

    .carousel{
        width: 400px;
    }

    .my-slider div{
        overflow: hidden;
    }

    .my-slider div img{
        border-radius: 15px;
    }

    .thumbnail{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .thumbnail div{
        width: 70px;
        height: 67px;
        margin-top: 1rem;
        cursor: pointer;
        transition: .4s;
        border: 3px solid transparent;
        border-radius: 10px;
    }

    .thumbnail div:not(:last-of-type){
        margin-right: 40px;
    }

    .thumbnail div img{
        border-radius: 8px;
    }

    .thumbnail div.active{
        border-color: var(--orange);
    }

    .thumbnail div:hover img,
    .thumbnail div.active img{
        opacity: 0.4;
    }

    .checkout{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .price_section{
        flex-direction: column;
        align-items: flex-start;
    }

    .product_quantity{
        width: 35%;
    }

    .add_btn{
        width: 60%;
        padding: 0;
        height: 55px;
    }

    .subtitle{
        font-size: 40px;
        margin-bottom: 1.5rem;
    }

    .prev,
    .next{
        display: none;
    }

    .gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
    }

    .product_quantity span:not(:nth-child(2)){
        padding: 5px 8px;
    }



    .cart_container{
        top: 70px;
    }
}